<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/dialogLayout" style="overflow: hidden;">
<head>
    <title>修改密码</title>
</head>
<body>
<section layout:fragment="content">
    <div id="divContent">
        <form class="form form-horizontal">
            <div class="row cl">
                <label class="form-label col-xs-3">登录名</label>
                <div class="formControls col-xs-9">
                    <input type="text" placeholder="登录名" class="input-text radius size-M" name="loginName"
                           id="loginName" readonly="readonly" th:value="${session.user.loginName}"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">旧密码</label>
                <div class="formControls col-xs-9">
                    <input type="password" placeholder="旧密码" class="input-text radius size-M" name="oldPassword"
                           id="oldPassword"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">新密码</label>
                <div class="formControls col-xs-9">
                    <input type="password" placeholder="新密码" class="input-text radius size-M" name="password"
                           id="password"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">确认密码</label>
                <div class="formControls col-xs-9">
                    <input type="password" placeholder="确认密码" class="input-text radius size-M" name="password2"
                           id="password2"/>
                </div>
            </div>
            <div class="row cl text-r">
                <a class="btn btn-primary radius size-M" type="button" id="submit" onclick="submit()"><i
                        class="Hui-iconfont">&#xe603;</i>提交</a>
                <a class="btn btn-primary radius size-M" type="button" id="cancel"
                   onclick="reset()"><i
                        class="Hui-iconfont">&#xe66b;</i>取消</a>
            </div>
        </form>
    </div>
    <script type="text/javascript">
    //重置操作
    function reset(){
        $('#oldPassword').val('');
        $('#password').val('');
        $('#password2').val('');
    }

    // 提交
    function submit(){
        var obj = getSearchRegionJsonObject('divContent');
        if(obj['loginName'].length==0){
            layer.msg('登录名不能为空！', {icon: 0});
            return
        }
        if(obj['oldPassword'].length==0){
            layer.msg('旧密码必填！', {icon: 0});
            return
        }
        if(obj['password'].length==0){
            layer.msg('密码必填！', {icon: 0});
            return
        }
        if(obj['password'] != obj['password2']){
            layer.msg('两次输入的新密码不一致！', {icon: 0});
            return
        }

        $.post('/api/user/savePassword',
            obj,
            function(data){
                if(data.flag){
                     layer.alert('密码修改成功，请退出重新登录！',{closeBtn: 0}, function(index){
                        layer.close(index);//关闭alert框
                        //关闭详情框
                        var parentIndex = parent.layer.getFrameIndex(window.name);
	                    parent.layer.close(parentIndex);
	                    //window.location.href='/'//刷新父界面中的列表
                    });
                }else{
                    layer.msg(data.msg, {icon: 5});
                }
        });
    }


    //选择父级机构
    function orgChoice(){
        parent.layer.open({
              type: 2,
              title: '选择机构',
              shadeClose: true,
              shade: false,
              area: ['500px', '400px'],
              fixed: false, //不固定
              maxmin: true,
              content: '/choice/choiceOrg',
              end: function(){
                var storage = window.localStorage;
                if(storage.newOrgCode.length!=0){
                    $('#orgCode').val(storage.newOrgCode);
                    $('#orgName').val(storage.newOrgName);
                    storage.removeItem('newOrgCode');
                    storage.removeItem('newOrgName');
                }
              }
            });
    }

    // 为用户配置角色
    function choiceRolesForUser(){
        var arrayRoles = [];
        var roles = $('#roles').val().trim();
        if(0!=roles.length){
            var objRoles = JSON.parse(roles);
            if('undefined' != objRoles){
                objRoles.forEach(function(role){
                    arrayRoles.push(role.appCode+'-'+role.roleCode);
                });
            }
        }

        parent.layer.open({
              type: 2,
              title: '选择角色',
              shade: 0.4,
              area: ['800px', '400px'],
              fixed: false, //不固定
              content: '/choice/choiceRolesForUser?roles='+arrayRoles.join('|'),
              end: function(){
                var storage = window.localStorage;
                if('undefined'!= typeof(storage.newRoles)){
                    $('#roles').val(storage.newRoles);
                    storage.removeItem('newRoles');
                }
              }
            });
    }

    </script>
</section>
</body>
</html>